.icon-rank-1 {
  background-image: url("../../assets/img/rank/blog1.png");
}

.icon-rank-2 {
  background-image: url("../../assets/img/rank/blog2.png");
}

.icon-rank-3 {
  background-image: url("../../assets/img/rank/blog3.png");
}

.icon-rank-4 {
  background-image: url("../../assets/img/rank/blog4.png");
}

.icon-rank-5 {
  background-image: url("../../assets/img/rank/blog5.png");
}

.icon-rank-6 {
  background-image: url("../../assets/img/rank/blog6.png");
}

.icon-rank-7 {
  background-image: url("../../assets/img/rank/blog7.png");
}

.icon-rank-8 {
  background-image: url("../../assets/img/rank/blog8.png");
}

.icon-rank-9 {
  background-image: url("../../assets/img/rank/blog9.png");
}

.icon-rank-10 {
  background-image: url("../../assets/img/rank/blog10.png");
}

.icon-rank-11 {
  background-image: url("../../assets/img/rank/blog11.png");
}

.icon-rank-12 {
  background-image: url("../../assets/img/rank/blog12.png");
}

.icon-rank-12 {
  background-image: url("../../assets/img/rank/blog13.png");
}

.icon-rank-14 {
  background-image: url("../../assets/img/rank/blog14.png");
}

.icon-rank-15 {
  background-image: url("../../assets/img/rank/blog15.png");
}
